.v-small {
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
}

.v-medium {
  padding-top: var(--space-2);
  padding-bottom: var(--space-2);
}

.v-large {
  padding-top: var(--space-4);
  padding-bottom: var(--space-4);
}

.h-small {
  padding-left: var(--space-1);
  padding-right: var(--space-1);
}

.h-medium {
  padding-left: var(--space-2);
  padding-right: var(--space-2);
}

.h-large {
  padding-left: var(--space-4);
  padding-right: var(--space-4);
}
